<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Agusto Dinner</title>
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />
        <style>
            * {
                font-family: "Quicksand", sans-serif;
            }

            html,
            body {
                background-image: url(../../bg.jpg);

                height: 100%;
                overflow: hidden;
                font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
                background: rgb(12, 32, 68);
                background: linear-gradient(90deg, rgba(12, 32, 68, 0.8) 0%, rgba(15, 42, 89, 0.8) 31%, rgba(18, 48, 102, 0.8) 100%), url(../../bg.jpg) no-repeat;
                background-size: cover;
                background-repeat: no-repeat;
                color: #fff;
                padding: 0;
                margin: 0;
            }

            .container {
                width: 80%;
                max-width: 1200px;
                margin: 0 auto;
            }

            .container * {
                box-sizing: border-box;
            }

            div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            div img {
                width: 18%;
            }

            div h3 {
                margin-top: 2em;
            }

            .flex-outer,
            .flex-inner {
                list-style-type: none;
                padding: 0;
            }

            .flex-outer {
                max-width: 800px;
                margin: 0 auto;
            }

            .flex-outer li {
                width: 48%;
            }

            .flex-outer li label {
                padding: 8px;
                display: block;
                font-weight: 300;
                letter-spacing: 0.09em;
                text-transform: uppercase;
            }

            .flex-outer li select:not([type="checkbox"]),
            .flex-outer li input:not([type="checkbox"]) {
                padding: 15px;
                border: none;
                font-size: 14px;
                width: 100%;
                cursor: pointer;
                font-weight: 600;
            }
            .flex-outer li select option {
                font-weight: 600;
                cursor: pointer;
            }
            .flex-outer li input[disabled] {
                user-select: none;
                -webkit-user-select: none;
            }
            .flex-outer li button {
                background-color: #4caf50;
                /* Green */
                border: 1px;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                font-weight: 600;
            }

            form,
            ul {
                width: 970px;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
            }
            li.button {
                padding-top: 45px;
            }
            li.button button {
                width: 100%;
            }
        </style>
    </head>

    <body>
        <!--0-->
        <% if(action == 0){ %>
        <div>
            <img src="../../yes.svg" />
            <h1>Thank You</h1>
        </div>
        <%}%>

        <!--1-->

        <% if(action == 1){ %>
        <div>
            <img src="../../yes.svg" />
            <h1>Thank You</h1>
        </div>
        <%}%>

        <!--2-->

        <% if(action == 2){ %>
        <div class="container">
            <div>
                <form method="post" action="/events/<%=email%>/register">
                    <ul class="flex-outer">
                        <li>
                            <label for="first-name">Firstname</label>
                            <input type="text" name="firstname" placeholder="firstname" class="input-control" value="<%=firstname%>" disabled />
                        </li>
                        <li>
                            <label for="first-name">Lastname</label>
                            <input type="text" name="lastname" placeholder="lastname" class="input-control" value="<%=lastname%>" disabled />
                        </li>
                        <li>
                            <label for="first-name">Company</label>
                            <input type="text" name="company" placeholder="company" class="input-control" value="<%=company%>" disabled />
                        </li>
                        <li>
                            <label for="first-name">Position</label>
                            <input type="text" name="position" placeholder="position" class="input-control" value="<%=position%>" />
                        </li>

                        <li>
                            <label for="first-name">Meal</label>
                            <select name="meal" required>
                                <option value="">Please select your Meal</option>
                                <option value="Standard">Standard</option>
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="Vegan">Vegan</option>
                                <option value="Gluten Free"> Gluten Free</option>
                                <option value="Others">Others</option>
                            </select>
                        </li>

                        <li class="button">
                            <button type="submit">Submit</button>
                        </li>
                    </ul>
                </form>
                <h3>We look forward to welcoming You . . .</h3>
            </div>
            <%}%>
        </div>
    </body>
</html>
